doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Dart Skeleton
    link(rel="stylesheet", href="css/app.css")
  body
    div(ng-show="false", style="position: fixed; height: 100%; width: 100%; background-color: #353535; top: 0; left: 0; z-index: 10000;")
      div(style="display: table; margin: 0 auto; font-size: 26px; color: #CCC;") Loading...
    ng-view
    script(type="application/dart", src="app.dart")
    script(src="packages/browser/dart.js")